.flexbox-container-home{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: 25vw;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  /* border: 3px solid rgb(0, 0, 0); */
  background-color: rgba(252, 252, 252, 0.63);
  align-items: center;
  padding-top: 3vw;
}

@media (max-width: 768px) {
  .flexbox-container {
    height: 80px;
    width: 90%;
    align-items: center;
  }
}

.pildibox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* border: 3px solid rgb(0, 0, 0); */
  }

.tervitus{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid rgb(0, 0, 0); */
}

.logo{
  transform: scale(0.8);
}