.flexbox-container-navbar{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(248, 245, 227, 0.925);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    position: fixed;
    z-index: 1;
    border-radius: 0.35vw;
    padding-bottom: 1vw;
}

/* .brand{
    font-size: 27px;
    letter-spacing: 0.5vw;
    max-width: 10%;
    min-width: 10%;
    border:1px solid rgb(192, 148, 105);
} */

.lingid{
    display: flex;
    flex-wrap: wrap;
    /* border:3px solid rgb(204, 102, 0); */
}

.caption{
    /* border:3px solid rgb(192, 148, 105); */
    margin: 3vw;
    font-size: 27px;
    text-decoration: none;
    color: black;
}


